.video-background {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transform: translate3d(0,0,0);
    }
.video-background2 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transform: translate3d(0,0,0);
    }
    
.video-background video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}    

.video-background2 video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}    


.spotifyPlayer{
    height: 100px;
    width: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}

.albumArt{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}

.mixcloudPlayer{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}

@media (max-width:1024px) {

    .indivRelease{
        margin-top: 20px;
        ;
    }
    .heroDetails{
        width: 100% !important;
        
    }
    .video-background {
        width: 100%;
        height: fit-content !important;
        overflow: hidden;
        transform: translate3d(0,0,0);
      }
    .video-background2 {
        width: 100%;
        height: 400px !important;
        overflow: hidden;
        transform: translate3d(0,0,0);
      }
  }